<div id="main-wrapper" class="d-flex flex-column min-vh-100">
  <!-- NAVBAR RESPONSIVA -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <a class="navbar-brand" routerLink="/dashboard">Aula Inteligente</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <!-- Menú principal -->
      <ul class="navbar-nav">
        <!-- Tus ítems de navegación actuales aquí (home, administrador, venta, etc.) -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <!-- ADMINISTRAR USUARIO -->
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Administrar Usuarios
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/enProceso"
              >Gestionar Roles Y Permisos</a
            >
            <a class="dropdown-item" routerLink="/usuarios"
              >Gestionar Usuarios</a
            >
            <a class="dropdown-item" routerLink="/profesores"
              >Gestionar Profesor</a
            >
            <a hidden class="dropdown-item" routerLink="/enProceso">Bitacora</a>
          </div>
        </li>
        <!-- ADMINISTRACION ACADEMICA -->
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Administración Academica
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/periodo">Gestionar Periodo</a>
            <a class="dropdown-item" routerLink="/gestiones"
              >Administar Gestion</a
            >
            <a class="dropdown-item" routerLink="/grado">Gestionar Grado</a>
            <a class="dropdown-item" routerLink="/materias"
              >Gestionar Materia</a
            >
            <a class="dropdown-item" routerLink="/aulas">Gestionar Aula</a>
            <a class="dropdown-item" routerLink="/enProceso"
              >Administrar Horario</a
            >
          </div>
        </li>
        <!-- GESTION DE INSCRIPCIONES -->
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Gestion de Inscripcion
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/enProceso"
              >Gestionar Apoderado</a
            >
            <a class="dropdown-item" routerLink="/alumnos">Gestionar Alumno</a>
            <a hidden class="dropdown-item" routerLink="/enProceso"
              >Gestionar Inscripcion</a
            >
          </div>
        </li>
        <!-- GESTION DE EVALUACIONES Y RENDIMINETO -->
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Evaluaciones y Rendimiento
          </a>
          <div class="dropdown-menu">
            <a hidden class="dropdown-item" routerLink="/enProceso"
              >Registrar Nota</a
            >
            <a hidden class="dropdown-item" routerLink="/enProceso"
              >Registrar Asistencia</a
            >
            <a hidden class="dropdown-item" routerLink="/enProceso"
              >Evaluar Participación</a
            >
            <a class="dropdown-item" routerLink="/predicciones"
              >Generar Predicciones</a
            >
            <a hidden class="dropdown-item" routerLink="/enProceso"
              >Predicciones de Rendimiento</a
            >
            <a class="dropdown-item" routerLink="/enProceso">Reportes</a>
          </div>
        </li>
      </ul>

      <!-- Menú de usuario a la derecha -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-user-circle fa-lg mr-2"></i> Usuario
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="userDropdown"
          >
            <a class="dropdown-item" routerLink="/perfil">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursor-pointer" (click)="logout()"
              >Cerrar Sesión</a
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- CUERPO RESPONSIVO -->
  <div class="container my-4 flex-grow-1" style="padding-top: 70px">
    <router-outlet />
  </div>

  <!-- FOOTER PEGADO ABAJO -->
  <!--<app-footer />-->
</div>
